body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

input {
  font-size: 1.05rem;
}

.login {
  /* height: 0vh; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}
.login button {
  margin-top: 20px;
}
.register button {
  margin-top: 20px;
}

.register {
  /* height: 65vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  /* height: 30vh; */
}

label {
  margin: 10px 0 3px 0;
}

.container a {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(16, 146, 232);
}
